QUAY-CLOUDFORMS: ljkdsf;aoerigorgijreogje
QUAY-JBOSS: o3irtreljkgsdlkfjgsgdsflkgj
QUAY-OSE3: orehjigoieugjsdfl;kgjsdfl;kjgs
QUAY-RHEL7: kljhbgoiufgl;kjdsfgl;kjfdglkj
QUAY-SSO: oi;gujfsdo;giusdfgjoifdsgoijfweroi
QUAY-RHGS3: ldfkjdfoiufdgohiujlhj
QUAY-RHSCL: dflgkjdfsgkljsdfkghijfdkhjgdfj
UPSTREAM_REGISTRY_USERNAME: john
UPSTREAM_REGISTRY_PASSWORD: oweiruoewiruewoirfuodsifusodifusodfiu
